@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

body:has(app-nav) main {
  padding-bottom: calc(6.5rem + env(safe-area-inset-bottom, 0));
}

body:has(app-nav) [id] {
  scroll-margin-bottom: calc(6.5rem + env(safe-area-inset-bottom, 0));
}
